@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600;700&family=Inter:wght@100;200;400;800;900&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Merienda:wght@300;600&family=Merriweather:wght@300&family=Outfit:wght@700&family=Overpass:wght@400;700&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 
body{
    width: 100vw;
    height: 100vh;
display: flex;
font-family: 'Josefin Sans', sans-serif;
}
p{
    color: black;
}
.navigation{
    width: 25%;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.content{
    width: 50%;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    padding-top:10px ;
}
.follow{
    width: 25%;
    height: 100%;
}
.navigation img{
    width: 80px;
    height: 80px;
}
.home, .explore, .notification{
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.messages, .watch, .profile{
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.post{
    width: 50%;
    color: white;
    background: blue;
    border: none;
    border-radius: 20px;
    height: 5%;
}
.details p{
    color: gray;
}
.details img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.upper-navigation{
    position:fixed;
    background: white;
    
}
.navigation h4{
    color: gray;
    margin-left: 20px;
    cursor: pointer;
}
.navigation h4:hover{
    color: black;
}
.follow h3{
    color: gray;
    margin-left: 60px;
    margin-top: 20px;
}

.details h4{
    color: black;
}
.post span{
    display: none;
}
.Home{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: block;
}
.PostingDiv{
    width: 98%;
    height: 50%;
    border: 1px solid gray;
    border-radius: 20px;
    display: none;
}
.postHead{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.postBody{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.postBody input{
    border:none ;
    outline: none;
}
.postBody input[file]{
display: hidden;
}
.imagePost{
    border: none;
    width: 150px;
    height: 10%;
    background-color: blue;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backHome{
    cursor: pointer;
}
.upper-navigation{
    height: 10%;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    border-bottom: 1px solid gray;
}
.upper-navigation h4:hover{
    color: black;
    
}
.lower-posts{
    height: 90%;
    width: 100%;
}
.post-body{
    width: 100%;
    
    
}
.post-head{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.post-head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post-content img{
    width: 100px;
    height: 300px;
}

.Explore{
    width: 100%;
    height: 100%;
    display: none;
    }
.Explore .explore-head{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-body{
    width: 100%;
    height: 90%;
    overflow-y: scroll;

}
.explore-head input{
    width: 70%;
    height: 60%;
    border-radius: 20px;
    border: 1px solid gray;
    outline:none;
padding: 20px;
}
.Notification{
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
}
.DisplayMessaging{
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
}
.messagePerson{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.messagePerson img{
    height: 90%;
    border-radius: 50%;
}
.Messages{
    width: 100%;
    height: 100%;
    display: none;
    
}
.MessageHeader{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid gray;
}
.headMessaging{
    height: 5%;
}

.MessageHeader img{
    width: 11%;
    height: 90%;
    border-radius: 50%;
}
.MessageBody{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.senderDiv{
    width: 90%;
    background:gray ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px 10px 10px 0px;
}
.receiverDiv{
    width: 90%;
    background:blue ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:5px ;
    margin-left: 10%;
    border-radius:10px 10px 0px 10px;
}
.inputDiv{
    width: 100%;
    height: 10%;
}
.inputDiv input{
    height: 100%;
    width: 70%;
}
.profileContent{
    width: 100%;
    height: 100%;
    display: none;
}
.profileHead{
    width: 100%;
    height: 20%;
}

.UserBackgroundImage{
    width: 100%;
    height: 100%;
}
.profileBody{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
    overflow-y: scroll;
}
.hidden{
    display: none;
}
.post-content{
    width: 100%;
    height: 80%;
    border-bottom: 1px solid rgb(233, 227, 227);
    
}
.content-part{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-part img{
    height: 70vh;
    width: 80%;
    
}
.reaction{
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.reactionPart{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}
.followHim{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.followHim button{
    background-color: blue;
    outline: none;
    border: none;
    /* border-radius: 10px; */
    color: white;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unlike{
    display: none;
}
.commentSection{
    width: 100%;
}
.hide{
    display:none;
}
.subComment{
    cursor: pointer;
}
.comments-container{
    width: 100%;
    margin: auto;
    
}
.commentSection input{
outline: none;
border: none;
padding: 15px;
margin: auto;
}
.comentBody{
    width: 100%;
    margin-left: 15px;

}
.comentBody input{
    border: none;
    outline: none;
}
.comentHead{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(248, 247, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.comentHead img{
    width: 40px;
    height: 40px;
    background: gray;
border-radius: 50%;
}
.mail{
    color: gray;
}
.followArea{
    width: 100%;
    height: 100%;
    border: 1px solid green;
}
.suggestArea{
    width: 100%;
    height: 100%;
}
.users{
    padding-top: 60px;
    width: 100%;
    height: 100px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.users img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Watch{
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
}
.video-container {
    
    
    width: 100%;
    height: 50vh;
    
  }
  .switch-btn {
    
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: medium;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .slide .switch {
    left: 50%;
    background: blue;
  }
  .img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    top :110px;
    margin-bottom: 20px;
  }
  .userBio{
    width: 100%;
    margin-left:2vw;
    margin-top: 4vh;
  }
  .editProfile{
    position: relative;
    left: 30vw;
    width: 10vw;
    height: 5vh;
    margin-top: 5px;
    background: none;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    font-weight: bold;
  }
  
  .updateProfile{
    width: 90%;
    height: 40%;
    border: 1px solid rgb(237, 235, 235);
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    display: none;

  }
  .updateProfile input{
margin-top: 10px;
margin-left: 10px;
  }
  .updateProfile .UserBio{
    border-bottom:1px solid rgb(165, 164, 164) ;
    border-left: none;
    padding-left:10px;
    width: 80%;
    border-right: none;
    border-top: none;
    outline: none;
  }
  button{
    cursor: pointer;
  }
  .hidden {
    background-color: blue;
    color: #fff;
    height: 25px;
    width: 50px;
  }
  
.notImg{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background:url('https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png');
}
.post-body:not(.has-image) .image {
    display: none;
  }
  .navigateProfile{
    width: 100%;
    height: 5vh;
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(237, 234, 234);
  }
  .navigateProfile p{
    cursor: pointer;
    font-weight: 200;
  }
  .followers{
    width: 100%;
    height: 10vh;
    margin-top: 10px;
  }
  .followers img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    
  }
  td{
    width: 50%;
    margin: auto;
  }
  .followers td{
    width: 50%;
  }
@media screen and (max-width:600px){
    .upper-navigation{
        width: 100%;
    }
    body{
        flex-direction: column;
        width: 100vw;
        height: 100vh;

    }
    .follow{
        width: 0;
        height: 0;
    }
    .navigation{
        width: 100%;
        height: 10%;
        flex-direction: row;
        order: 2;
    }
    .editProfile{
        position: relative;
        left: 50vw;
        width: 25vw;
        height: 5vh;
        margin-top: 5px;
        background: none;
        border-radius: 20px;
        border: 1px solid gray;
        outline: none;
        font-weight: bold;
      }
    .content{
        width: 100%;
        height: 90%;
        overflow: hidden;
        border-bottom: 1px solid gray;
    }
    .userArea{
        width: 100%;
    }
    .navigation h4{
display: none;
    }
 .details, .profile{
        display: none;
     }
     .profile img{
        top: 100px;
        left: 40px;
        display: block;
     }
     .navigation img{
        position: absolute;
        top: 10px;
        left: 130px;
        width: 20px;
        height: 20px;
        display: none;
     }
     .post{
position: absolute;
bottom: 70px;
right: 20px;
width: 40px;
height: 40px;
font-size: 0;
cursor: pointer;
     }
    
     .post span{
        font-size: 20px;
        font-weight: 100;
        display: block;
     }
 .icon{
    width: 30px;
    height: 30px;
 }
 .hidden{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
 }
.follow{
    display: none;
}
}