@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500;600;700&family=Inter:wght@100;200;400;800;900&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Merienda:wght@300;600&family=Merriweather:wght@300&family=Outfit:wght@700&family=Overpass:wght@400;700&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    font-family: 'Outfit', sans-serif;
}
a{
color: black;
}
.section{
    width: 100%;
    height: 100%;
    display: flex;
}
.resetForm{
    display: none;
    width: 50%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.resetForm input, button{
    margin-top: 60px;
}
.resetForm button{
    color: white;
    border: none;
    background: blue;
    outline: none;
    
}
.logo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
form input{
    width: 70%;
    height: 8%;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
    padding-left: 30px;
}
form button{
    width: 70%;
    height: 8%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

}
.signup{
    color: white;
    background: blue;
    border: none;
}
.signin{
    color: blue;
    border: 1px solid gray;
    background-color: white;
}
.error-text {
    display: block;
    color: red;
    font-size: 14px;
  }
  
  .password-mismatch {
    border-color: red;
  }
  .resMessage{
    color: green;
    display: none;
    
  }

@media screen and (max-width:600px){
    .section{
        flex-direction: column;
    }
    .logo{
        width: 100%;
        height: 20%;
    }
    .resetForm{
        width: 100%;
        height: 80%;
    }
    .resetForm input, button{
        margin: 20px;
width: 80%;
    }
    .logo img{
        height: 80%;
    }
    form{
        width: 100%;
        height: 80%;
    }

}
